<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base</title>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body style="background-color:#CBF3BB;">
<nav class="navbar navbar-expand-lg " style="background-color:#305669;">
  <div class="container " >
    <a class="navbar-brand fw-bold fs-2 " style="color:#C66E52" href="#">Authentication</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav ms-auto g-3">
        <li class="nav-item">
          <a href="{% url 'home' %}" class="nav-link p-3 m-3 text-center fw-bold" style="border-radius:12px;width:150%;color:#1A2A4F;background-color:#F9B487;" >Home</a>
        </li>
           <li class="nav-item">
          <a href="{% url 'usrsignup' %}" class="nav-link  p-3 m-3 text-center fw-bold" style="border-radius:12px;width:150%;color:#1A2A4F;background-color:#F9B487;" >Signup</a>
        </li>
           <li class="nav-item">
          <a href="{% url 'usrlogin' %}" class="nav-link  p-3 m-3 text-center fw-bold " style="border-radius:12px;width:150%;color:#1A2A4F;background-color:#F9B487;" >Login</a>
        </li>
           <li class="nav-item">
          <a href="{% url 'usrlogout' %}" class="nav-link  p-3 m-3 text-center fw-bold" style="border-radius:12px;width:150%;color:#1A2A4F;background-color:#F9B487;" >Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% block contents %}

{% endblock %}
</body>
</html>